<h1>New Pack</h1>

<% if @pack.errors.any? %>
  <div>
    <h2><%= pluralize(@pack.errors.count, "error") %> prohibited this edit from being saved:</h2>
    <ul>
      <% @pack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for(@pack) do |f| %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>

